body {
  font-size: 16px;
}

.ybi__header {
  height: 30px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.ybi__section-article:nth-child(odd) {
  background-color: #030017;
}

.ybi__section-article:nth-child(even) {
  background-color: #fff;
}